@import './themes.scss';

.main-content {
    @include themify($themes) {
    background-color: themed('primaryBackgroundColor');
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

#root {
  width: 100%;
}