.main-content {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  width: 100%;
}
#root {
  min-width: 320px;
  width: 100%;
}
body {
  min-width: 320px;  
  width: 100%;
}

@media screen and (max-width: 480px) {

}