$themes: (
  light: (
    primaryBackgroundColor: #fff,
    secondaryBackgroundColor: #d1d1d1,
    tertiaryBackgroundColor: #d1d1d1a9,
    accentBackgroundColor: #4389c5,

    boxShadow: 1px 1px 3px #c2c2c2,
    primaryBorder: 1px solid #313131,

    primaryTextColor: #000000,
    secondaryTextColor: #4389c5,

    primaryButtonColor: #4389c5,
    primaryButtonText: #fff,
    primaryButtonHover: #5f9fd4,
    secondaryButtonColor: #d8d8d8,
    secondaryButtonAccent: #4389c5,
    secondaryButtonHover: #99bdda,

    primaryTextarea: #ffffffa9,
    primaryTextareaColor: #4e4e4e,
  ),
  dark: (
    primaryBackgroundColor: #0f0f0f,
    secondaryBackgroundColor: #272727,
    tertiaryBackgroundColor: #141414a6,
    accentBackgroundColor: #4389c5,

    boxShadow: 1px 1px 3px #030303,
    primaryBorder: 1px solid rgb(255, 255, 255),

    primaryTextColor: #ffffff,
    secondaryTextColor: #4389c5,

    primaryButtonColor: #000000,
    primaryButtonText: #4389c5,
    primaryButtonHover: #383b3f,
    secondaryButtonColor: #36363694,
    secondaryButtonAccent: #4389c5,
    secondaryButtonHover: #2a353d94,

    primaryTextarea: #d1d1d1a9,
    primaryTextareaColor: #000000,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

