@import '../../themes.scss';

.messages-editor-wrapper {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 463px;
}

.messages-editor {
  @include themify($themes) {
    background-color: themed('primaryTextarea');
    color: themed('primaryTextareaColor');
    border: themed('primaryBorder');
  }
}

.messages-toolbar {
  @include themify($themes) {
    background-color: themed('primaryBackgroundColor');
    border: themed('primaryBorder');
    height: 42px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -1px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .messages-editor-wrapper  {
    @include themify($themes) {
      width: 100%;
      left: 0;
    }
  }
}