@import '../../themes.scss';

.messages-editor-wrapper {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
}

.messages-editor {
  @include themify($themes) {
    background-color: themed('primaryTextarea');
    color: themed('primaryTextareaColor');
    border: themed('primaryBorder');
    width: 100%;
    padding: 0 10px;
    line-height: 20px;
    max-height: 50px;
  }
    &::-webkit-scrollbar {
    display: none;
  }
}

.messages-toolbar {
  @include themify($themes) {
    background-color: themed('primaryBackgroundColor');
    border: themed('primaryBorder');
    justify-content: center;
    height: 42px;
    border-top: 0px;
    margin-top: -1px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.messages-toolbar .rdw-colorpicker-modal {
  top: -180px;
}

@media screen and (max-width: 480px) {
  .messages-editor-wrapper  {
    @include themify($themes) {
      width: 100%;
      left: 0;
    }
  }
}
