@import '../../../public/theme.scss';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NOTE INDEX SCSS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.notes-container {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}

.notes-index {
  width: 100%;
  margin: 20px;
  height: fit-content;
  justify-content: center;
}

.note-body {
  @include themify($themes) {
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    background-color: themed('primaryTextarea');
    overflow: hidden;
  }
}

.note-card {
  @include themify($themes) {
    width: 200px;
    margin: 20px 10px;
    cursor: pointer;
    transition: .2s;
    &:hover {
      border: 1px solid themed('secondaryButtonAccent');
    }
  }
}

.notes-tags {
  @include themify($themes) {
    display: inline-block;
    width: calc(100% - 1px);
    background-color: themed('secondaryBackgroundColor');
    color: themed('primaryTextColor');
    padding: 10px 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.note-body ol li {
  margin-left: 10px;
  list-style: decimal;
}

.note-body ul li {
  margin-left: 10px;
  list-style: disc;
}

.note-body ul, .note-body ol {
  margin-left: 10px;
}

.note-body sub, .note-body sup {
  font-size: 70%;
}

.note-tags-text {
  margin-top: 5px;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-search {
  @include themify($themes) {
    background-color: themed('primaryTextarea');
    color: themed('primaryTextareaColor');
    height: 25px;
    margin: 0 10px;
    width: calc(100% - 40px);
  }
}

.notes-search:focus {
  @include themify($themes) {
    border-color: themed('secondaryTextColor');
    box-shadow: 1px 1px 3px themed('secondaryTextColor');
  }
}

.notes-search::placeholder {
  @include themify($themes) {
    color: themed('primaryTextareaColor');
  }
}

@media screen and (max-width: 480px) {
  .notes-container {
    justify-content: center;
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NOTE FORM SCSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.notes-form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.notes-create-note-card {
  width: 100%;
}

.notes-create-note-body {
  @include themify($themes) {
    background-color: themed('tertiaryBackgroundColor');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
  }
}

.card-header, .card-footer {
  @include themify($themes) {
    background-color: themed('secondaryBackgroundColor');
    color: themed('primaryTextColor');
  }
}

.notes-create-note-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-toolbar {
  @include themify($themes) {
    justify-content: center;
    background-color: themed('primaryBackgroundColor');
    border: themed('primaryBorder');
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -1px;
  }
}

.notes-editor-wrapper {
  margin-bottom: 10px;
  height: 100%;
  width: 95%;
}

.notes-editor {
  @include themify($themes) {
    background-color: themed('primaryTextarea');  
    color: themed('primaryTextareaColor');
    border: themed('primaryBorder');
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 90% !important;
    min-height: 300px;
    padding: 0 20px;
  }
}

.note-tag-input {
  @include themify($themes) {
    background-color: themed('primaryTextarea');  
    color: themed('primaryTextareaColor');
    border: themed('primaryBorder');
  }
}

.note-title-input:focus, .note-tag-input:focus, .notes-editor-wrapper.rdw-editor-wrapper:focus {
  @include themify($themes) {
    border-color: themed('secondaryTextColor');
    box-shadow: 1px 1px 3px themed('secondaryTextColor');
  }
}

.note-title-input {
  @include themify($themes) {
    background-color: themed('primaryTextarea');  
    color: themed('primaryTextareaColor');
    border: themed('primaryBorder');
    text-align: center;
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

.note-title-input::placeholder {
  @include themify($themes) {
    color: themed('primaryTextareaColor');
  }
}

.note-tag-text {
  @include themify($themes) {
    background-color: themed('primaryBackgroundColor');  
    color: themed('primaryTextColor');
    border: themed('primaryBorder');
  }
}

.rdw-option-wrapper {
  @include themify($themes) {
    background-color: themed('accentBackgroundColor');  
    border: themed('primaryBorder');
    padding: 14px 10px;
  }
}

.rdw-dropdown-wrapper {
  @include themify($themes) {
    background-color: themed('accentBackgroundColor');
    border: themed('primaryBorder');
    border-radius: 2px;
  }
}

.rdw-dropdown-optionwrapper {
    @include themify($themes) {
      background-color: themed('accentBackgroundColor');
      border: themed('primaryBorder');
  }
  &:hover {
    @include themify($themes) {
      background-color: themed('accentBackgroundColor');
      border: themed('primaryBorder');
    }
  }
}

.rdw-dropdownoption-default.rdw-fontsize-option.rdw-dropdownoption-active {
  @include themify($themes) {
    background-color: themed('accentBackgroundColor');
    border: themed('primaryBorder');
  }
}

.notes-tag-group {
  width: 95%;
  margin: 5px 0px !important;
}

.notes-submit {
  @include themify($themes) {
    background-color: themed('primaryButtonColor');
    color: themed('primaryButtonText');
    border-color: themed('primaryBorderColor');
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -1px;
  }
  &:hover {
    @include themify($themes) {
      background-color: themed('primaryButtonHover');
    }
  }
}

.notes-tags {
  @include themify($themes) {
    display: inline-block;
    width: calc(100% - 1px);
    background-color: themed('secondaryBackgroundColor');
    color: themed('primaryTextColor');
    padding: 10px 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    min-height: 55px;
  }
}

.rdw-colorpicker-option {
  padding: initial !important;
}

.rdw-colorpicker-modal {
  width: 300px;
}