@import '../themes.scss';

.notes-container {
  width: 100%;
  height: calc(100vh - 210px);
}

.notes-toolbar {
  @include themify($themes) {
    background-color: themed('secondaryBackgroundColor');  
  }
}

.notes-editor-wrapper {
  margin: 30px;
  height: 100%;
  width: 90%;
}

.notes-editor {
  @include themify($themes) {
    background-color: themed('secondaryBackgroundColor');  
    color: themed('primaryTextareaColor');
    border: 1px solid gray;
    height: 90% !important;
  }
}