/* .notes-container {
  width: 100%;
  height: calc(100vh - 210px);
}

.notes-toolbar {
  background-color: rgb(235, 235, 235);
}

.notes-editor-wrapper {
  margin: 30px;
  height: 100%;
  width: 90%;
}

.notes-editor {
  background-color: rgb(235, 235, 235);
  border: 1px solid gray;
  height: 90% !important;
} */