@import '../themes.scss';

.sidebar-container {
  @include themify($themes) {
    background-color: themed('accentBackgroundColor');
    position: relative;
    height: calc(100vh - 50px);
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    transition: .2s;
  }
}

.sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  background-color: rgba(51, 51, 51, 0.089);
  border: 1px solid black;
  border-left: none;
  height: 60px;
  min-width: 20px;
  padding-left: 3px;
  margin-right: -20px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  top: 50%;
  left: 0;
  z-index: 1;
  cursor: pointer;
  transition: .2s;
}

.side-bar-toggler {
  position: relative;
  display: flex;
  width: 300px;
  transition: .3s;
}

.sidebar-options-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .sidebar-container .side-bar-toggler {
    @include themify($themes) {
      position: relative;
      max-width: 100vw;
      width: 0px;
    }
  }
}
