@import '../themes.scss';

.sidebar-container {
  @include themify($themes) {
    background-color: themed('accentBackgroundColor');
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transition: .2s;
  }
}

.sidebar-toggle {
  @include themify($themes) {
    color: themed('primaryTextColor');
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background-color: rgba(51, 51, 51, 0.089);
    border: 1px solid themed('primaryTextColor');
    border-right: none;
    height: 50px;
    width: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    transition: .2s;
  }
}

.side-bar-toggler {
  position: relative;
  display: flex;
  margin-left: -10px;
  min-width: 360px;
  height: 100%;
  transition: .3s;
  overflow: hidden;
}

.toggler-open {
  min-width: 360px;
}

.toggler-closed {
  min-width: 0px;
}

.sidebar-options-list {
  min-width: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}