.message-index {
  width: 465px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 100px;
}

.message-index-item, .current-user-message-index-item {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 20px;
  max-width: 60%;
  width: fit-content;
  background-color: cadetblue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.current-user-message-index-item {
  right: 0;
  margin-left: auto;
  background-color: salmon;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.message-username {
}

.message-body {
}

.message-timestamp {
}

.message-username ~ .message-timestamp {
}

.message-username ~ .message-body {
}

.date-item {
  width: 100%;
  text-align: center;
}