@import '../../themes.scss';

.messager-container {
  min-height: calc(100vh - 51px);
}

.messager {
  @include themify($themes) {
    position: absolute;
    display: flex; 
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: calc(100vh - 152px);
    width: 100%;
    top: 0;
    border: themed('primaryBorder');
    color: themed('primaryTextColor');
    min-width: 350px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.message-index {
  @include themify($themes) {
    background-color: themed('secondaryBackgroundColor');
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 350px;
    padding: 5px 0;
  }
}

.message-index-item, .current-user-message-index-item {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 20px;
  margin: 1px 0;
  max-width: 60%;
  width: fit-content;
  background-color: cadetblue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  overflow-wrap: break-word;
}

.current-user-message-index-item {
  right: 0;
  margin-left: auto;
  background-color: salmon;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.message-username {
  margin-bottom: 5px;
  font-weight: bold;
}

.message-body {
}

.message-timestamp {
  margin-left: 10px;
  font-size: 12px;
  color: rgb(48, 48, 48);
}

.message-username ~ .message-timestamp {
}

.message-username ~ .message-body {
}

.date-item {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .messager {
    @include themify($themes) {
      width: 100%;
      left: 0;
    }
  }
}