@import '../themes.scss';

.navbar-container {
  @include themify($themes) {
    background-color: themed('secondaryBackgroundColor');  
    height: 70px;
    min-width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: themed('boxShadow');  
    padding: 0 20px;
    margin-bottom: 1px;
  }
}

.navbar-piptionary-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-piptionary-logo-image {
  background-image: url('/piptionarylogo.png');
  background-size: cover;
  width: 40px;
  height: 40px;
}

.navbar-piptionary-logo-text {
  @include themify($themes) {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: themed('secondaryTextColor');  
  }
}

.navbar-session-buttons {
  display: flex;
  position: relative;
  right: 0px;
}

.navbar-button {
  @include themify($themes) {
    background-color: themed('primaryButtonColor');
    border-color: transparent;
    color: themed('primaryButtonText');
    width: 90px;
    font-weight: bold;
  }

    &:hover {
      @include themify($themes) {
        background-color: themed('primaryButtonHover');
        border-color: transparent;
      }
    }
}

.nav-login {
  @include themify($themes) {
    background-color: white;
    color: #4389c5;
    border: 1px solid #4389c5;
  }
    &:hover {
      background-color: #ebf5fd;
      color: #4389c5;
  }
}