@import '../themes.scss';

.navbar-light {
  @include themify($themes) {
    background-color: themed('secondaryBackgroundColor');  
    box-shadow: themed('boxShadow');
  }
}

.navbar-toggler {
  @include themify($themes) {
    background-color: themed('accentBackgroundColor');  
  }
}

.navbar-piptionary-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-piptionary-logo-image {
  @include themify($themes) {
    filter: themed('imageColor');
    background-image: url('/piptionarylogo.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    }
}

.navbar-piptionary-logo-text {
  @include themify($themes) {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: themed('secondaryTextColor');  
  }
}

.navbar-session-buttons {
  display: flex;
  position: relative;
  right: 0px;
}

.navbar-button {
  @include themify($themes) {
    background-color: themed('primaryButtonColor');
    border-color: transparent;
    color: themed('primaryButtonText');
    width: 90px;
    font-weight: bold;
  }

    &:hover {
      @include themify($themes) {
        background-color: themed('primaryButtonHover');
        border-color: transparent;
      }
    }
}

.nav-login {
  @include themify($themes) {
    background-color: themed('secondaryButtonColor');
    border-color: themed('secondaryButtonAccent');
    color: themed('secondaryButtonAccent');
  }
  &:hover {
    @include themify($themes) {
      background-color: themed('secondaryButtonHover');
    }
  }
}

.nav-search {
  @include themify($themes) {
    background-color: themed('primaryTextarea');
    color: themed('primaryTextareaColor');
    height: 25px;
  }
}

.nav-signup {
  margin: 0px 2px;
}