.navbar-container {
  height: 70px;
  min-width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 3px rgb(194, 194, 194);
  padding: 0 20px;
  margin-bottom: 1px;
}

.navbar-piptionary-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-piptionary-logo-image {
  background-image: url('/piptionarylogo.png');
  background-size: cover;
  width: 40px;
  height: 40px;
}

.navbar-piptionary-logo-text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #4389c5;
}

.navbar-session-buttons {
  display: flex;
  position: relative;
  right: 0px;
}

.navbar-button {
  background-color: #4389c5;
  border-color: #4389c5;
  width: 90px;
  font-weight: bold;
}

.navbar-button:hover {
  background-color: #5f9fd4;
  border-color: #5f9fd4;
}

.nav-login {
  background-color: white;
  color: #4389c5;
  border: 1px solid #4389c5;
}

.nav-login:hover {
  background-color: #ebf5fd;
  color: #4389c5;
}