@import '../themes.scss';


.splash-container, .splash-left-container {
  @include themify($themes) {
    display: flex;
    min-width: 380px;
    width: 100%;
    color: themed('textColor');  
    background-color: themed('primaryBackgroundColor');  
  }

  .button {
    @include themify($themes) {
      cursor: pointer;
      border-radius: 5px;
      padding: 15px 32px;
      display: inline-block;
      transition: color 0.1s, border-color 0.1s, background-color 0.1s;
      border: themed('buttonBorder');
      color: themed('buttonTextColor'); 
      border-color: themed('buttonTextColor');
      background-color: themed('buttonColor');
      text-transform: themed('buttonTextTransform');

      &:hover {
        color: themed('buttonTextHoverColor'); 
        border-color: themed('buttonTextHoverColor');
        background-color: themed('buttonHoverColor');
      }
    }

  } 
}

.splash-left-container {
  padding: 0;
  @include themify($themes) {
    color: themed('textColor');  
    background-color: themed('backgroundColor');  
  }
}

.splash-left-container {
  padding: 0;
}

.splash-right-container {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.splash-image {
  min-height: 680px;
  // background-image: url('/robert-coelho-A5hjI0-6yHk-unsplash.jpg');
}

@media screen and (max-width: 380px) {
  .splash-right-container {
    justify-content: flex-start;
  }
}