.splash-container {
  display: flex;
  min-width: 320px;
  width: 100%;
}

.splash-left-container {
  padding-left: 0;
  padding-right: 0;
}

.splash-right-container {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: flex-end;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.splash-image {
  height: 680px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/robert-coelho-A5hjI0-6yHk-unsplash.jpg');
}