.splash-container {
  display: flex;
  min-width: 380px;
  width: 100%;
}

.splash-left-container {
  padding: 0;
}

.splash-right-container {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.splash-image {
  min-height: 680px;
  background-image: url('/robert-coelho-A5hjI0-6yHk-unsplash.jpg');
}

@media screen and (max-width: 380px) {
  .splash-right-container {
    justify-content: flex-start;
  }
}