/* .splash-container {
  display: flex;
  min-width: 320px;
  width: 100%;
}

.splash-left-container {
  min-width: 320px;
  min-height: 500px;
  height: 680px;
  width: 100%;
}

.splash-right-container {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: center;
  min-width: 320px;
  max-width: 400px;
  min-height: 500px;
  width: 100%;
  height: 680px;
}

.splash-image {
  height: 680px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/robert-coelho-A5hjI0-6yHk-unsplash.jpg');
}

@media screen and (max-width: 480px) {
  .splash-right-container {
    max-width: 480px;
    left: 0;
  }
.splash-left-container {
    height: 100%;
  }

} */